// Define variables for your color scheme

// For example:
$red: #800040;
$blue: #6666FF;
$yellow: #FFFF66;
$orange: #FF8000;
$green: #008040;
$gray: #666666;
$light-gray: #E6E6E6;
$pink: #FFD0D0;
$black: #333333;
$white: whitesmoke;

$zero_point_two: rgba(0, 0, 0, 0.2);
$zero_point_middle: rgba(0, 0, 0, 0.25);
$zero_point_three: rgba(0,0,0,0.3);
$zero_point_four: rgba(0,0,0,0.4);
$zero_point_six: rgba(0,0,0,0.6);
$zero_point_seven: rgba(0,0,0,0.7);

